<?xml version="1.0"?>
<ruleset name="CS">
    <description>PHPCS Multisite Taxonomy Widget configuration</description>
    <config name="testVersion" value="7.4-"/>
    <exclude-pattern>bin/*</exclude-pattern>
    <exclude-pattern>vendor/*</exclude-pattern>

    <arg value="ps"/>
    <arg name="colors"/>
    <arg name="parallel" value="100"/>
    <arg name="extensions" value="php"/>
    <arg name="cache" value=".phpcs.cache"/>

    <rule ref="WordPress">
        <exclude name="Generic.CodeAnalysis.UnusedFunctionParameter.Found" />
        <exclude name="Generic.Commenting.DocComment.MissingShort" />
        <exclude name="Squiz.Commenting.ClassComment.Missing" />
        <exclude name="Squiz.Commenting.FileComment.Missing" />
        <exclude name="Squiz.Commenting.FunctionComment.Missing" />
        <exclude name="Squiz.Commenting.FunctionComment.MissingParamComment" />
        <exclude name="WordPress.DB.SlowDBQuery.slow_db_query_tax_query" />
        <exclude name="WordPress.Files.FileName" />
        <exclude name="WordPress.WP.GlobalVariablesOverride.Prohibited" />
    </rule>
    <rule ref="WordPress-Extra"/>
    <rule ref="WordPress-Docs"/>
    <rule ref="PHPCompatibilityWP" />
</ruleset>
